<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.resource.mapper.MyBrowseMapper">

    <!--查询我的浏览记录-->
    <select id="queryMyBrowesByUserId" resultType="com.gy.resource.response.rest.MyBrowseResponse" parameterType="java.lang.Long">
                           SELECT
                                    a.user_id AS userId,
                                    gri.audit_time AS createTime,
                                    gri.title,
                                    gri.id AS resourceId,
                                    gu.head_pic AS headPic,
                                     gu.nickname,
                                     gu.mobile,
                                    (
                                        SELECT
                                            COUNT(b.id)
                                        FROM
                                            g_global_correlation b
                                        WHERE
                                            1 = 1
                                        AND b.delete_flag = 0
                                        AND b.ref_type = 1
                                        AND b.ref_id = gri.id
                                    ) AS browses
                                FROM
                                    g_global_correlation a
                                LEFT JOIN g_resource_info gri ON gri.id = a.ref_id
                                LEFT JOIN g_user gu ON gu.id = gri.user_id
                                WHERE
                                    1 = 1
                                AND a.delete_flag = 0
                                AND a.ref_type = 1
                                AND a.user_id = #{userId}
                                GROUP BY
                                    a.ref_id
                                order  by a.update_time DESC
    </select>
    <!--搜索历史 删除-->
    <update id="myBrowesDelete" parameterType="java.lang.Long">
        update  g_global_correlation set delete_flag=1 where ref_type=1 and  user_id = #{userId}
    </update>

</mapper>
