<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.resource.mapper.MyBrowseMapper">

    <!--查询我的浏览记录-->
    <select id="queryMyBrowesByUserId" resultType="com.gy.resource.response.rest.MyBrowseResponse" parameterType="java.lang.Long">
                       SELECT
                        a.user_id as userId,
                        a.update_time as createTime ,
                        gri.title,
                        gri.id as resourceId
                        FROM
                            g_global_correlation  a
                        LEFT JOIN g_resource_info gri on gri.id=a.ref_id
                        WHERE
                        1=1
                        and a.delete_flag=0
                        and a.ref_type=1
                        and a.user_id=#{userId}
                        GROUP BY a.ref_id
    </select>
    <!--搜索历史 删除-->
    <update id="myBrowesDelete" parameterType="java.lang.Long">
        update  g_global_correlation set delete_flag=1 where ref_type=1 and  user_id = #{userId}
    </update>

</mapper>
